.my-input {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }
  
  .my-dropdown {
    margin-bottom: 16px;
  }

  .my-label {
    display: block;
    margin-bottom: 8px;
    color: #FFEB00;
  }

  .add-list-container {
    border: 8px solid #FFEB00;
    padding: 20px;
    border-radius: 8px;
    background-color: #0060AA;
  }

  #update-password {
    position: absolute;
    right: 20px; /* Adjust the value as needed for the desired padding */
    top: 10px;
  }

  #sign-out {
    position: absolute;
    left: 20px; /* Adjust the value as needed for the desired padding */
    top: 10px;
  }