  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: #0060AA;
    padding: 20px; 
    border-radius: 8px;
    margin-left: 50px;
    margin-right: 50px;
    border: 8px solid #FFEB00;
  }
  
  .search-box {
    flex: 1;
    margin-right: 10px; 
    display: flex;
    align-items: center;
  }
  
  label {
    margin-right: 5px; 
  }
  
  #submit-btn {
    margin-left: 10px; 
  }

  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }
  
  .expandable-item {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: white;
    color: black;
  }
  
  .header {
    background-color: #0060AA;
    padding: 10px;
    cursor: pointer;
    color: #FFEB00;
  }
  
  .content {
    display: none;
    padding: 10px;
  }
  
  .content.active {
    display: block;
  }

  .expandable-item.expanded .content {
    display: block;
  }

  body {
    color: #FFEB00;
    background-color: #C80000; 
    font-family: "Comic Sans MS", "Comic Sans", cursive;
  }