.login-container {
    max-width: 600px;
    margin: auto;
    padding: 20px; 
    background-color: #0060AA;
    border-radius: 8px;
    border: 8px solid #FFEB00;
    margin-top: 10px;
  }

  .login-create-account-container {
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #main-heading {
    margin-top: 200px;
    font-size: 3em;
    margin-bottom: 5px;
  }